<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.full_name %></h1>
    <p>
      You were just deleted by an admin.<br>
    </p>
    <p>
      To sign up for a new account, just follow this link: <%= @url %>.
    </p>
  </body>
</html>